@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-brand {
	padding: 0px;
}

.logo {
	max-height: 50px;
}

.nav-pills .nav-pills {
	margin-left: 20px;
}

.tab-content {
	padding: 20px 0px;
}

.panel-heading {
	font-weight: bold;
	font-size: 20px;
}

.bold {
	font-weight: 700;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-primary {
    border-left-color: #3097D1;
}

.italic {
	font-style: italic;
}

.social_links {
	font-size: 30px;
}
